.redred{color:red}

.rosephoto{
    border-radius: 20px;
    padding:15pax;
    margin: 10px;
}

.rose-bg{
    background-color: brown;
}

.mu-bg{
    background-color:red;
}
.resume-section-content span{
    color:blue;
}